[user]
	email = dskhaller@gmail.com
	name = Dan Haller
[core]
	editor = subl -n -w
	autocrlf = false

[alias]
	st = status
	co = checkout
	unstage = reset HEAD --

[rerere]
	enabled = true
[push]
	default = simple
