'global':
  'welcome':
    'showOnStartup': false
  'remember-session':
    'x': 0
    'y': 64
    'width': 1280
    'height': 960
    'path': '/home/danh/code/play/clojure-noob'
    'treeWidth': 200
  'editor':
    'fontFamily': 'Consolas, Inconsolata, Monaco, Courier New, Courier'
    'fontSize': 14
    'invisibles':
      'tab': '→'
    'showInvisibles': true
  'core':
    'themes': [
      'neutron-ui'
      'leaf-syntax'
    ]
    'disabledPackages': [
      'metrics'
      'tabs'
      'tree-view'
    ]
  'tabs':
    'showIcons': true
  'tree-view':
    'hideVcsIgnoredFiles': false
    'hideIgnoredNames': false
    'showOnRightSide': false
    'sortFoldersBeforeFiles': true
  'file-icons':
    'coloured': false
