"*":
  welcome:
    showOnStartup: false
  editor:
    fontFamily: "Droid Sans Mono, Monaco, Inconsolata, Consolas, Courier New, Courier"
    tabLength: 4
    softTabs: false
    invisibles:
      tab: "→"
    showInvisibles: true
  core:
    themes: [
      "neutron-ui"
      "base16-ocean-dark-spacegray"
    ]
    disabledPackages: [
      "metrics"
      "exception-reporting"
      "proto-repl"
    ]
  tabs:
    showIcons: true
  "file-icons":
    coloured: false
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
  "linter-jscs":
    onlyConfig: true
  linter: {}
  "atom-ternjs": {}
  "atom-color-highlight": {}
  "tree-view":
    hideVcsIgnoredFiles: true
  "ide-haskell": {}
  "language-elm":
    elmOraclePath: '''
      /home/dan/node/bin/elm-oracle
      
    '''
  "proto-repl": {}
  "linter-elm-make":
    elmMakeExecutablePath: '''
      /home/dan/node/bin/elm-make
      
    '''
".elm.source":
  editor:
    autoIndentOnPaste: true
